Repository apollographql/apollo-ios, pull requests merged in 2019-11, with the labels that each got.

#882 Fix caching docs parens
  Tests/ApolloCacheDependentTests/ReadWriteFromStoreTests.swift
  docs/source/caching.md
Labels: caching, docs

#889 Update singleton naming suggestions in docs
  docs/source/initialization.md
Labels: docs

#880 Fixing data races in subscriptions
  ApolloWebSocket.xcodeproj/project.pbxproj
  Sources/ApolloWebSocket/ApolloWebSocket.swift
  Sources/ApolloWebSocket/Utilities/Atomic.swift
  Sources/ApolloWebSocket/WebSocketTransport.swift
  Tests/ApolloWebsocketTests/MockWebSocket.swift
  Tests/ApolloWebsocketTests/StarWarsSubscriptionTests.swift
Labels: apollo-websockets

#899 Put per-package manager installation instructions into collapsible panels
  docs/shared/carthage-installation-panel.mdx
  docs/shared/carthage-run-script-panel.mdx
  docs/shared/pods-installation-panel.mdx
  docs/shared/pods-run-script-panel.mdx
  docs/shared/spm-installation-panel.mdx
  docs/shared/spm-run-script-panel.mdx
  docs/source/installation.md
  docs/source/installation.mdx
Labels: docs
