Repository apollographql/apollo-ios, pull requests merged in 2019-07, with the labels that each got.

#635 Separate Carthage optional dependencies
  Cartfile.private
Labels: dependency-management

#643 Switch to built-in `Result` type
  Apollo.xcodeproj/project.pbxproj
  Sources/Apollo/Promise.swift
  Sources/Apollo/Result+Helpers.swift
  Sources/Apollo/Result.swift
  Sources/Apollo/ResultOrPromise.swift
  Tests/ApolloTestSupport/XCTestCase+Promise.swift
Labels: swift-5

#644 `Result` ALL THE THINGS!!!
  Sources/Apollo/ApolloClient.swift
  Sources/Apollo/ApolloStore.swift
  Sources/Apollo/GraphQLQueryWatcher.swift
  Sources/Apollo/HTTPNetworkTransport.swift
  Sources/Apollo/NetworkTransport.swift
  Sources/ApolloWebSocket/SplitNetworkTransport.swift
  Sources/ApolloWebSocket/WebSocketTransport.swift
  Tests/ApolloCacheDependentTests/FetchQueryTests.swift
  Tests/ApolloCacheDependentTests/LoadQueryFromStoreTests.swift
  Tests/ApolloCacheDependentTests/StarWarsServerCachingRoundtripTests.swift
  Tests/ApolloCacheDependentTests/StarWarsServerTests.swift
  Tests/ApolloCacheDependentTests/WatchQueryTests.swift
  Tests/ApolloSQLiteTests/CachePersistenceTests.swift
  Tests/ApolloTestSupport/MockNetworkTransport.swift
  Tests/ApolloTests/BatchedLoadTests.swift
  Tests/ApolloTests/HTTPTransportTests.swift
  Tests/ApolloWebsocketTests/MockWebSocketTests.swift
  Tests/ApolloWebsocketTests/StarWarsSubscriptionTests.swift
  Tests/ApolloWebsocketTests/StarWarsWebSocketTests.swift
Labels: enhancement, swift-5

#393 Add documentation for json serialization
  docs/source/fetching-queries.md
Labels: docs

#679 Add instructions for codegen with Swift Package Manager in Xcode 11
  docs/source/installation.md
Labels: beta-xcode, dependency-management
